.nav {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 15px;
    margin-left: auto;
    text-transform: uppercase;
    align-items: center;
}
.nav :link, .nav :visited{
    text-decoration: none;
    color: white;
    display: block;
}

.nav :global(.active){
    color: greenyellow;   
}

.cta :link,
.cta :visited {
  background-color: rgb(76, 165, 58);
  color: black;
 
  border-radius: 7px;
  padding: 10px 15px;
 
  
}